<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzh.business.mapper.BzhProductCategoryMapper">
    
    <resultMap type="BzhProductCategory" id="BzhProductCategoryResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="level"    column="level"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="isActive"    column="is_active"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBzhProductCategoryVo">
        select id, name, parent_id, level, sort_order, image_url, is_active, create_by, create_time, update_by, update_time, remark from bzh_product_category
    </sql>

    <select id="selectBzhProductCategoryList" parameterType="BzhProductCategory" resultMap="BzhProductCategoryResult">
        <include refid="selectBzhProductCategoryVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="isActive != null "> and is_active = #{isActive}</if>
        </where>
    </select>
    
    <select id="selectBzhProductCategoryById" parameterType="Long" resultMap="BzhProductCategoryResult">
        <include refid="selectBzhProductCategoryVo"/>
        where id = #{id}
    </select>

    <insert id="insertBzhProductCategory" parameterType="BzhProductCategory" useGeneratedKeys="true" keyProperty="id">
        insert into bzh_product_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="level != null">level,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="isActive != null">is_active,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="level != null">#{level},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="isActive != null">#{isActive},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBzhProductCategory" parameterType="BzhProductCategory">
        update bzh_product_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="level != null">level = #{level},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="isActive != null">is_active = #{isActive},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBzhProductCategoryById" parameterType="Long">
        delete from bzh_product_category where id = #{id}
    </delete>

    <delete id="deleteBzhProductCategoryByIds" parameterType="String">
        delete from bzh_product_category where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
