<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzh.business.mapper.BzhProductMapper">

    <resultMap type="BzhProduct" id="BzhProductResult">
        <result property="id"    column="id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="storeId"    column="store_id"    />
        <result property="productName"    column="product_name"    />
        <result property="productDescribe"    column="product_describe"    />
        <result property="productPrice"    column="product_price"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="videoUrl"    column="video_url"    />
        <result property="recommend"    column="recommend"    />
        <result property="status"    column="status"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBzhProductVo">
        select id, category_id, store_id, product_name, product_describe,product_price, image_url,video_url, recommend, status, sort_order,
               create_by, create_time, update_by, update_time, remark from bzh_product
    </sql>

    <select id="selectBzhProductList" parameterType="BzhProduct" resultMap="BzhProductResult">
        <include refid="selectBzhProductVo"/>
        <where>
            <if test="ids != null and ids.size() > 0">
                AND id IN
                <foreach item="id" collection="ids" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="storeId != null "> and store_id = #{storeId}</if>
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="recommend != null "> and recommend = #{recommend}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
        </where>
        <choose>
            <when test="sortColumn == 'newest'">
                order by create_time desc
            </when>
            <when test="sortColumn == 'price' and priceSort == 'asc'">
                order by product_price asc
            </when>
            <when test="sortColumn == 'price' and priceSort == 'desc'">
                order by product_price desc
            </when>
            <otherwise>
                order by sort_order asc
            </otherwise>
        </choose>
    </select>

    <select id="selectBzhProductById" parameterType="Long" resultMap="BzhProductResult">
        <include refid="selectBzhProductVo"/>
        where id = #{id} and status ='0'
    </select>

    <insert id="insertBzhProduct" parameterType="BzhProduct" useGeneratedKeys="true" keyProperty="id">
        insert into bzh_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">category_id,</if>
            <if test="storeId != null">store_id,</if>
            <if test="productName != null and productName != ''">product_name,</if>
            <if test="productDescribe != null and productDescribe != ''">product_describe,</if>
            <if test="productPrice != null">product_price,</if>
            <if test="imageUrl != null and imageUrl != ''">image_url,</if>
            <if test="videoUrl != null and videoUrl != ''">video_url,</if>
            <if test="recommend != null and recommend != ''">recommend,</if>
            <if test="status != null">status,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">#{categoryId},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="productName != null and productName != ''">#{productName},</if>
            <if test="productDescribe != null and productDescribe != ''">#{productDescribe},</if>
            <if test="productPrice != null">#{productPrice},</if>
            <if test="imageUrl != null and imageUrl != ''">#{imageUrl},</if>
            <if test="videoUrl != null and videoUrl != ''">#{videoUrl},</if>
            <if test="recommend != null and recommend != ''">#{recommend},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBzhProduct" parameterType="BzhProduct">
        update bzh_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="productName != null and productName != ''">product_name = #{productName},</if>
            <if test="productDescribe != null and productDescribe != ''">product_describe = #{productDescribe},</if>
            <if test="productPrice != null">product_price = #{productPrice},</if>
            <if test="imageUrl != null and imageUrl != ''">image_url = #{imageUrl},</if>
            <if test="videoUrl != null and videoUrl != ''">video_url = #{videoUrl},</if>
            <if test="recommend != null and recommend != ''">recommend = #{recommend},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBzhProductById" parameterType="Long">
        delete from bzh_product where id = #{id}
    </delete>

    <delete id="deleteBzhProductByIds" parameterType="String">
        delete from bzh_product where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
