<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzh.business.mapper.BzhStoreMapper">

    <resultMap type="BzhStore" id="BzhStoreResult">
        <result property="id"    column="id"    />
        <result property="storeName"    column="store_name"    />
        <result property="address"    column="address"    />
        <result property="tel"    column="tel"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBzhStoreVo">
        select id, store_name, address, tel, create_by, create_time, update_by, update_time, remark from bzh_store
    </sql>

    <select id="selectBzhStoreList" parameterType="BzhStore" resultMap="BzhStoreResult">
        <include refid="selectBzhStoreVo"/>
        <where>
            <if test="storeName != null  and storeName != ''"> and store_name like concat('%', #{storeName}, '%')</if>
            <if test="tel != null  and tel != ''"> and tel like concat('%', #{tel}, '%')</if>
        </where>
    </select>

    <select id="selectBzhStoreById" parameterType="Long" resultMap="BzhStoreResult">
        <include refid="selectBzhStoreVo"/>
        where id = #{id}
    </select>

    <insert id="insertBzhStore" parameterType="BzhStore" useGeneratedKeys="true" keyProperty="id">
        insert into bzh_store
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeName != null and storeName != ''">store_name,</if>
            <if test="address != null">address,</if>
            <if test="tel != null and tel != ''">tel,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeName != null and storeName != ''">#{storeName},</if>
            <if test="address != null">#{address},</if>
            <if test="tel != null and tel != ''">#{tel},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBzhStore" parameterType="BzhStore">
        update bzh_store
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeName != null and storeName != ''">store_name = #{storeName},</if>
            <if test="address != null">address = #{address},</if>
            <if test="tel != null and tel != ''">tel = #{tel},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBzhStoreById" parameterType="Long">
        delete from bzh_store where id = #{id}
    </delete>

    <delete id="deleteBzhStoreByIds" parameterType="String">
        delete from bzh_store where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
